<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel='stylesheet' href='/stylesheets/pintuer.css' />
<link rel='stylesheet' href='/stylesheets/admin.css' />    
<script src="/javascripts/jquery.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 单页信息</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">      
     
      <div class="form-group">
          
            <%data.map(function(item,i){ %>
              <ul data-id='<%-item._id %>'>
                <li>ID： <%-i+1 %></li>
                <li>标题：<%-item.tit%></li>
                <li>域名：<%-item.ym%></li>
                <li>网站描述：<%-item.ms%></li>
                <li>联系人：<%-item.lxr%></li>
                <li>手机：<%-item.phone%></li>
                <li>Email：<%-item.email%></li>
                <li>地址：<%-item.ym%></li>
                <li>底部信息：<%-item.ym%></li>
                <li class="del" style="color:red;cursor:pointer">删除</li><br />
              </ul>
            <% }) %> 
      </div>
        <!-- <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div> -->
      </div>
    </form>
  </div>
</div>
</body>
    <script>
        $('.form-group').on('click','.del',function(){
            var id = $(this).parent().attr('data-id');
            var _this = this;
            $.ajax({
                type:'get',
                url:'/users/pageDel',
                data:{id:id},
                success:function(data){
                    console.log(data);
                    if(data == 1){
                      alert('尊敬的宇宙无敌超级管理员：您的网站已经删除成功,啦啦啦，再建一个啦！')
                        $(_this).parent().remove();  
                    }
                }
            })
        })
    </script>
</html>